{
  "policy": "{{ 'int_access_host' if (interface_type == 'l2' and switch_interfaces[0].mode == 'access') else 'int_port_channel_trunk_host' if (switch_interfaces[0].type == 'pc') else 'int_trunk_host' }}",
  "interfaceType": "{{ 'INTERFACE_ETHERNET' if switch_interfaces[0].type == 'eth' else 'INTERFACE_PORT_CHANNEL' if switch_interfaces[0].type == 'pc' else 'INTERFACE_VLAN' }}",
  "interfaces": [
{%- for iface in switch_interfaces %}
    {
      "serialNumber": "{{ switch_serial }}",
      "interfaceType": "{{ 'INTERFACE_ETHERNET' if iface.type == 'eth' else 'INTERFACE_PORT_CHANNEL' if iface.type == 'pc' else 'INTERFACE_VLAN' }}",
      "fabricName": "{{ switch_fabric }}",
      "ifName": "{{ iface.name }}",
      "nvPairs": {
{%- if interface_type == 'l2' %}
{%- if iface.type == 'eth' or iface.type == 'pc' %}
        "BPDUGUARD_ENABLED": "{{ 'yes' if iface.bpduguard | default(false) else 'no' }}",
        "BPDUFILTER_ENABLED": "no",
        "LINK_TYPE": "auto",
        "PORTTYPE_FAST_ENABLED": "true",
        "MTU": "{{ 'jumbo' if iface.mtu | default(1500) >= 9000 else 'default' }}",
        "SPEED": "Auto",
{%- if iface.mode == 'trunk' %}
        "ALLOWED_VLANS": "{{ iface.trunk.allowed_vlans | default('none') }}",
        "NATIVE_VLAN": "{{ iface.trunk.native_vlan | default('') }}",
{%- else %}
        "ALLOWED_VLANS": "none",
        "NATIVE_VLAN": "",
{%- endif %}
        "DESC": "{{ iface.description | default('') }}",
        "NEGOTIATE_AUTO": "true",
        "CDP_ENABLE": "true",
        "ENABLE_ORPHAN_PORT": "false",
        "PORT_DUPLEX_MODE": "auto",
        "BANDWIDTH": "",
        "INHERIT_BW": "",
{%- if iface.type == 'eth' %}
        "DEBOUNCE_TIMER": "100",
        "DEBOUNCE_LINKUP_TIMER": "",
{%- endif %}
        "ENABLE_ERRDISABLE_ACL": "true",
        "FEC": "auto",
        "CONF": "",
        "ADMIN_STATE": "true",
        "ENABLE_NETFLOW": "false",
        "NETFLOW_MONITOR": "",
        "NETFLOW_SAMPLER": "",
        "ENABLE_PFC": "false",
        "ENABLE_QOS": "false",
        "QOS_POLICY": "",
        "QUEUING_POLICY": "",
        "ENABLE_MONITOR": "false",
        "enableVlanMapping": "false",
        "vlanMappingEntries": "",
        "ENABLE_STORM_CONTROL": "false",
        "STORM_CONTROL_ACTION": "",
        "STORM_CONTROL_BCAST_LEVEL_PERCENT": "",
        "STORM_CONTROL_MCAST_LEVEL_PERCENT": "",
        "STORM_CONTROL_UCAST_LEVEL_PERCENT": "",
        "STORM_CONTROL_BCAST_LEVEL_PPS": "",
        "STORM_CONTROL_MCAST_LEVEL_PPS": "",
        "STORM_CONTROL_UCAST_LEVEL_PPS": "",
{%- if iface.type == 'pc' %}
        "MEMBER_INTERFACES": "{{ iface.members | map(attribute='interface') | join(',') }}",
        "PC_MODE": "{{ iface.members[0].mode | default('active') }}",
        "DISABLE_LACP_SUSPEND": "false",
        "LACP_PORT_PRIO": "32768",
        "LACP_RATE": "normal",
        "PO_ID": "{{ iface.name }}",
{%- endif %}
        "INTF_NAME": "{{ iface.name }}"
{%- endif %}
{%- elif interface_type == 'l3' %}
{%- if iface.type == 'svi' %}
        "INTF_VRF": "{{ iface.vrf | default('') }}",
        "IP": "{{ iface.ipv4.address.split('/')[0] if iface.ipv4 is defined and iface.ipv4.address is defined else '' }}",
        "PREFIX": "{{ iface.ipv4.address.split('/')[1] if iface.ipv4 is defined and iface.ipv4.address is defined else '' }}",
        "IPv6": "{{ iface.ipv6.address.split('/')[0] if iface.ipv6 is defined and iface.ipv6.address is defined else '' }}",
        "PREFIXv6": "{{ iface.ipv6.address.split('/')[1] if iface.ipv6 is defined and iface.ipv6.address is defined else '' }}",
        "MTU": "{{ iface.mtu | default('') }}",
        "ROUTING_TAG": "{{ iface.routing_tag | default('') }}",
        "DESC": "{{ iface.description | default('') }}",
        "DISABLE_IP_REDIRECTS": "true",
        "ENABLE_PIM_SPARSE": "{{ 'true' if iface.pim is defined else 'false' }}",
        "PIM_DR_PRIORITY": "1",
        "CONF": "",
        "ADMIN_STATE": "true",
        "ENABLE_HSRP": "{{ 'true' if iface.hsrp is defined else '' }}",
        "HSRP_VIP": "{{ iface.hsrp.vip if iface.hsrp is defined and iface.hsrp.vip is defined else '' }}",
        "HSRP_VIPv6": "",
        "HSRP_GROUP": "{{ iface.hsrp.group | default('') if iface.hsrp is defined else '' }}",
        "HSRP_GROUPv6": "",
        "HSRP_VERSION": "{{ iface.hsrp.version | default('') if iface.hsrp is defined else '' }}",
        "HSRP_PRIORITY": "{{ iface.hsrp.priority | default('') if iface.hsrp is defined else '' }}",
        "PREEMPT": {{ 'true' if iface.hsrp is defined and iface.hsrp.preempt | default(false) else 'false' }},
        "MAC": "",
        "dhcpServerAddr1": "{{ iface.dhcp_relay[0] if iface.dhcp_relay is defined and iface.dhcp_relay | length > 0 else '' }}",
        "vrfDhcp1": "{{ iface.vrf | default('') if iface.dhcp_relay is defined and iface.dhcp_relay | length > 0 else '' }}",
        "dhcpServerAddr2": "{{ iface.dhcp_relay[1] if iface.dhcp_relay is defined and iface.dhcp_relay | length > 1 else '' }}",
        "vrfDhcp2": "{{ iface.vrf | default('') if iface.dhcp_relay is defined and iface.dhcp_relay | length > 1 else '' }}",
        "dhcpServerAddr3": "{{ iface.dhcp_relay[2] if iface.dhcp_relay is defined and iface.dhcp_relay | length > 2 else '' }}",
        "vrfDhcp3": "{{ iface.vrf | default('') if iface.dhcp_relay is defined and iface.dhcp_relay | length > 2 else '' }}",
        "advSubnetInUnderlay": "false",
        "ENABLE_NETFLOW": "false",
        "NETFLOW_MONITOR": "",
        "NETFLOW_SAMPLER": "",
        "INTF_NAME": "{{ iface.name }}"
{%- elif iface.type == 'lo' %}
        "INTF_VRF": "{{ iface.vrf | default('') }}",
        "IP": "{{ iface.ipv4.address.split('/')[0] if iface.ipv4 is defined and iface.ipv4.address is defined else '' }}",
        "PREFIX": "{{ iface.ipv4.address.split('/')[1] if iface.ipv4 is defined and iface.ipv4.address is defined else '' }}",
        "IPv6": "{{ iface.ipv6.address.split('/')[0] if iface.ipv6 is defined and iface.ipv6.address is defined else '' }}",
        "PREFIXv6": "{{ iface.ipv6.address.split('/')[1] if iface.ipv6 is defined and iface.ipv6.address is defined else '' }}",
        "ROUTING_TAG": "{{ iface.routing_tag | default('') }}",
        "DESC": "{{ iface.description | default('') }}",
        "ADMIN_STATE": "true",
        "INTF_NAME": "{{ iface.name }}"
{%- else %}
        "INTF_VRF": "{{ iface.vrf | default('') }}",
        "IP": "{{ iface.ipv4.address.split('/')[0] if iface.ipv4 is defined and iface.ipv4.address is defined else '' }}",
        "PREFIX": "{{ iface.ipv4.address.split('/')[1] if iface.ipv4 is defined and iface.ipv4.address is defined else '' }}",
        "IPv6": "{{ iface.ipv6.address.split('/')[0] if iface.ipv6 is defined and iface.ipv6.address is defined else '' }}",
        "PREFIXv6": "{{ iface.ipv6.address.split('/')[1] if iface.ipv6 is defined and iface.ipv6.address is defined else '' }}",
        "MTU": "{{ iface.mtu | default('') }}",
        "DESC": "{{ iface.description | default('') }}",
        "SPEED": "Auto",
        "ADMIN_STATE": "true",
        "INTF_NAME": "{{ iface.name }}"
{%- endif %}
{%- endif %}
      }
    }{{ ',' if not loop.last else '' }}
{%- endfor %}
  ],
  "skipResourceCheck": false
}
