---
- name: Pre-Provision Interfaces for Pre-Staged Switches
  hosts: nexus_dashboard
  gather_facts: false

  tasks:
    - name: Pre-Provision Interface for Fabric
      cisco.nd.nd_rest:
        host: "{{ ansible_host }}"
        username: "{{ ansible_user }}"
        password: "{{ ansible_ssh_pass }}"
        use_ssl: "{{ ansible_httpapi_use_ssl }}"
        validate_certs: "{{ ansible_httpapi_validate_certs }}"
        use_proxy: "{{ ansible_httpapi_use_proxy }}"
        login_domain: "{{ login_domain | default('local') }}"
        method: POST
        path: /appcenter/cisco/ndfc/api/v1/lan-fabric/rest/interface
        timeout: 300
        content: "{{ lookup('template', '../templates/ndfc_preprovision_interfaces.json.j2') }}"
      register: preprovision_result

    - name: Display Pre-Provision Result
      debug:
        var: preprovision_result
